{# ///////////////////////////  #}
{# // LAYOUT GENERAL DU SITE // #}
{# ///////////////////////////  #}

<!DOCTYPE html>
<html  >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>
		{% block title %}
            Welcome
		{% endblock %}
    </title>
	
	{% block stylesheet %}
		
		{# chargement normalize.css #}
        <link rel="stylesheet" href="{{asset("bundles/stageindex/css/normalize.css")}}">
		
		{# Chargement CSS Bootstrap #}
		{# <link rel="stylesheet" href="{{asset("bundles/stageindex/css/bootstrap3-2-0.min.css")}}"> #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		
		{# Chargement CSS personnalisé #}
        <link rel="stylesheet" href="{{asset("bundles/stageindex/css/css-perso.css")}}">
	
	{% endblock %}
	
	
	{% block javascripts %}
		
		{#  Insertion Jquery #}
        <script src="{{asset("bundles/stageindex/js/jquery-3.1.1.js")}}"></script>
		
		{#  Insertion script de Bootsrtrap  #}
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
	
	{% endblock %}


</head>

<style>
    body {
        background-image: url("{{asset("bundles/stageindex/images/ipsum-bkg.jpg")}}");
    }
</style>

<body  >


{# Div qui va afficher une boîte demandant de clicker pour revenir sur la page active #}
<div id="save" class ="inact" >
    <h1 >  You've been inactive too long </h1>
    <input id="verif" type="button" name="reenter" value="Click to re-enter">
</div>


{# // Div grisée qui se met au dessus de la page active pour empêcher d'y clicker #}
<div id="blanc" class="inact">

    <div id="screensaver">
    
        <h1>  Please Reconnect</h1></div>
    
    
    </div>
    




<div class="container-fluid">
	
	{# ///// HEADER ///// #}
    <div id="header" class="jumbotron text-center">
        <h1> Stage Développeur Logiciel</h1>
    </div>
    
    
    <div class="row">
		
		{# ///////  Inclusion du MENU /////   #}
        <div id="menu" class="col-md-2 " >
			{{ include("menu2.html.twig") }}
        </div>
		
		
		{# ///// CONTENT /////   #}
        
        <div id="content" class="col-md-10">
			{% block body %}
			{% endblock %}
        </div>
    </div>
	
	
	{#  ///// BAS DE PAGE  /////  #}
    <footer>
        <hr>
        <p> Formation BGE © {{ 'now'|date('Y') }}. </p>
        <p> </p>
    
    </footer>
</div>

</body>


<script>

    $(document).ready(function() {

        var redirection;
        var redirection2;

        //définitions des temps d'inactivité
        
        time  = 1500;
        
        time2 = 6000;

        // a chaque fois que l'on bouge la souris, on regarde l'état des div
        $('html').mousemove(function () {


            //on recupére la valeur display du style des DIV save et blanc
            var valuesave  = $("#save").css("display");
            var valueblanc = $("#blanc").css("display");


            // la souris a bougé et si aucune des deux div n'est active, on change leurs styles pour les activer au bout du premier temps d'inactivité
            if (  (valuesave==='none') && (valueblanc ==='none') ) {

                // a chaque fois que la souris bouge on reinitialise le timer
                clearTimeout(redirection);

                
                // des que la souris ne bouge plus , le timer se met en route
                redirection = setTimeout(function () {


                    // on chnage les styles des deux DIV
                    $('#blanc').removeClass('inact');
                    $('#blanc').addClass('activeblanc');
                    

                    $('#save').removeClass('inact');
                    $('#save').addClass('active');

                 

                    // on récupère l'état des div
                    {# valuesave  = $("#save").css("display");
                    valueblanc = $("#blanc").css("display"); #}

                    
                    // fin fonction Timer 1
                }, time);

                // une fois qu'on est sorti du premier timer on enclenche un deuxième timer d'inactivité

                clearTimeout(redirection2);

                redirection2 = setTimeout(function () {

                    console.log("intérieur timeout2:");
                    $('#save').removeClass('active');
                    $('#save').addClass('inact');

                }, time2);
            }

            // fin fonction mousemove
        });




        // si on clicke sur le bouton, on revient sur la page active en désactivant les styles des deux DIV
        $('input[name="reenter"]').click(function() {

            // on désactive l'écran de veille en changeant la classe des div

            $('#blanc').removeClass('activeblanc');
            $('#blanc').addClass('inact');

            $('#save').removeClass('active');
            $('#save').addClass('inact');

        });




















        // fin script
    });

</Script>



</html>
