{# ////////////////////////////  #}
{# // VUE Liste des éléments //  #}
{# ////////////////////////////  #}

<div id="result">
    <h4> Page en cours {{ Page }}</h4>
    <h4> Offset   {{ offset }}</h4>
    <h4> Nbre d'éléments retournés {{ count }}</h4>
    <h4> Derniere page {{ last }}</h4>
    
    
    <script>
        
        alert ($("input[name='count']").val( {{count}} ));
        
        console.log($("input[name='count']").val());
        
        console.log( {{ count }} );
    
    </script>
    
    
    
    
	{% for list in Projects %}
        
        
        <section class="listing">
            <article >
                
                <img src="{{asset("bundles/stageindex/images/folder.jpg")}}"  style="height:50px" class=" img_descr img-responsive">
                
                <div class="content">
                    <p><u>Id</u>:             {{ list.id }}</p>
                    <h2><u>Title : </u>       {{ list.projTitle }}</h2>
                    <hr>
					
					{% if list.projDate is not null %}
                        <p> Creation: {{ list.projDate| date('d/m/Y')}} </p>
                        <hr>
					
					{% endif %}
                    <p><u>Description</u>: {{ list.projDescr|raw }}</p><br>
                </div>
                
                <div class="buttons">
                    <a  href="{{ path('view_index_homepage',{'id':list.id})   }}"> Detail</a>
                    <a  href="{{ path('modify_index_homepage',{'id':list.id}) }}"> Modify </a>
                    <a  href="{{ path('delete_index_homepage',{'id':list.id}) }}"> Delete </a>
                </div>
            
            </article>
        
        </section>
        
        
        <br>
	
	{% endfor %}

</div>



