
<div id="research">
	
	<form name="form1" action="{{ path('projects_index_homepage') }}" method="get" >
		<input type="submit" class="but btn btn-info" onclick="first()"    value="<<" readonly=""   {% if Page == 1 %} disabled="disabled"{% endif %}>
		<input type="submit" class="but btn btn-info" onclick="backward()" value="<"  readonly="" {% if Page == 1 %} disabled="disabled"{% endif %}>
		<input type="text" class="but " value="{{Page}}"     name="page" min="1" max={{last}}  >
		<input type="text" class="but " name="" value="/ {{last}}" readonly>
		 
		<input type="submit" class="but btn btn-info" onclick="forward()" value=">" readonly="" {% if Page == last or offset == 0 %} disabled="disabled"{% endif %}>
		<input type="submit" class="but btn btn-info" onclick="last()"    value=">>" readonly="" {% if Page == last or offset == 0 %} disabled="disabled"{% endif %}>
		
		
		<select  name="page_limit" >
			<option value="0" {% if offset == 0 %}   selected="selected"  {% endif %}>All</option>
			<option value="2" {% if offset == 2 %}   selected="selected"  {% endif %}>2</option>
			<option value="5" {% if offset == 5 %}   selected="selected"  {% endif %}>5</option>
			<option value="10" {% if offset == 10 %} selected="selected"  {% endif %}>10</option>
			<option value="15" {% if offset == 15 %} selected="selected"  {% endif %}>15</option>
			<option value="20" {% if offset == 20 %} selected="selected"  {% endif %}>20</option>
		</select>
		
		{# code correspondant au premier champ de la première version du formulaire (2 champs de recherche)
		<input type="text" name="title"   value="{{title}}"    placeholder="Title"> #}
		
		<input type="text" class='descr' id="descr" name="content" value="{{content}}" placeholder="Research"   >
		
				
		<input type='text'  class='count' name="count" value='{{count}} element(s) found'  readonly >
	
	</form>
	<br>
</div>


<script>
    //fonction reculer de 1 page
    function backward(){
        var page = parseInt($("input[name='page']").val()) - 1;
        $("input[name='page']").val(page);

    }

    //fonction avancer de 1 page
    function forward(){

        var page = parseInt($("input[name='page']").val()) + 1;
        $("input[name='page']").val(page);
    }

    //fonction revenir à la 1 ere page
    function first(){
        var page = 1;
        $("input[name='page']").val(page);
    }

    // fonction aller à la dernière page
    function last(){
        $("input[name='page']").val( {{last}} );
    }



    $(document).ready(function() {
        var redirection;
		
		
		{# // fonction qui regarde le champ page pour pouvoir s'y rendre #}
        $("input[name='page']").keyup(function () {

            // récupération des différentes valeurs qui nous interressent provenant des balises
            var offset4  = $("select[name='page_limit']").val();
            var content4 = $("input[name='content']").val();
            var page4    = $("input[name='page']").val();


            // définition de l'url avec les paramètres qui nous interressent
            var url = '{{ path('projects_index_homepage') }}?page_limit=' + offset4 + '&content=' + content4+ '&page=' + page4;

            clearTimeout(redirection);

            // on se donne un certain temps pour pouvoir rentrer notre demande
            redirection = setTimeout(function () { location.href = url; }, 400);

        });
		
		
		
		
		{# // fonction qui scrute le choix de page_limit  et qui récupére le champ content #}
        $("select[name='page_limit']").change(function () {

            // récupération des différentes valeurs qui nous interressent provenant des balises
            var offset1  = $("select[name='page_limit']").val();
            var content1 = $("input[name='content']").val();
            var url      = '{{ path('projects_index_homepage')}}?page_limit='+offset1+'&content='+content1;

            clearTimeout(redirection);

            // on se donne un certain temps pour pouvoir rentrer notre demande
            redirection = setTimeout(function(){
                location.href=url;
            },3000);
        });
		
		
		
		{#  fonction qui regarde si une touche a été appuyée dans le champ de recherche
		 pour ensuite effectuer 1 fonction ajax pour recharger la liste des éléments trouvés #}
        $("input[name='content']").keyup(function () {

            // récupération des différentes valeurs qui nous interressent provenant des balises
            var offset2  = $("select[name='page_limit']").val();
            var content2 = $("input[name='content']").val();
            var count2   = $("input[name='count']").val();
            var page     = $("input[name='page']").val();

            // définition de l'url avec les paramètres qui nous interressent
            var url= '{{ path('projects_index_homepage')}}?page_limit='+offset2+'&content='+content2;

            clearTimeout(redirection);

            //Avant toute action, on va vers l'url qui nous interresse avec les paramétres récupérés lors de l'appui d'une touche dans le champ content
            // et on attends un certain temps avant d'envoyer la demande de recherche
            redirection = setTimeout(function(){
                location.href=url;
            },400);

            // puis on va afficher la liste des éléments en ajax

            $.ajax({
                url: '{{ path('liste_index_homepage') }}',
                type: 'GET',
                data: 'content=' + content&'page_limit='+ offset2,

                success: function (success) {

                    console.log("AJAXList Content: "+content2);
                    console.log("AJAXList Offset: "+offset2);
                    console.log("AJAXList Elements: "+count2);
                    console.log("---------------------------");

                    $("#list").html(success);

                }

            });

        });

    });




</script>
