{# ////////////////////////////  #}
{# // VUE View-Detail        //  #}
{# ////////////////////////////  #}

{% extends "STAGEIndexBundle::layoutProject.html.twig" %} {# heritage du layout du Bundle Index  #}

{% block title %}
    Detail
{% endblock %}

{% block index_body %}

    <h1><u> Id of the project : </u>    {{project.id}}  </h1>
    <h2><u> Title of the Project : </u> {{project.projTitle}}</h2>

    <p> Date of the Project :  {{ project.projDate| date('d/m/Y') }} </p>

    <p> Content of the Project :<br>  {{ project.projDescr|raw }} </p>
    <hr>
    <p> Content of the Project :<br>  {{ project.projDescr }} </p>




    <hr>


{% endblock %}
